
# Lab 7: Logistic Regression

In [8]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

df = pd.read_csv('Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [9]:
#divide the dataset into train and test data
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df[['Age']], df.Purchased, test_size=0.2, random_state=21)
x_train, x_test, y_train, y_test

(     Age
 191   19
 278   52
 272   60
 128   30
 285   37
 ..   ...
 368   38
 48    30
 260   35
 312   38
 207   52

 [320 rows x 1 columns],
      Age
 106   26
 9     35
 61    25
 224   35
 37    30
 ..   ...
 45    23
 359   42
 351   37
 186   20
 362   47

 [80 rows x 1 columns],
 191    0
 278    1
 272    1
 128    0
 285    1
       ..
 368    0
 48     1
 260    0
 312    0
 207    0
 Name: Purchased, Length: 320, dtype: int64,
 106    0
 9      0
 61     0
 224    0
 37     0
       ..
 45     0
 359    0
 351    0
 186    0
 362    1
 Name: Purchased, Length: 80, dtype: int64)

In [10]:
from sklearn.linear_model import LogisticRegression

#call regression function
model = LogisticRegression()
#fit the model according to train data
model.fit(x_train, y_train)

LogisticRegression()

In [11]:
#score the model by test data
model.score(x_test,y_test)
predictions = model.predict(x_test)
model.predict([[23]])

C:\Users\VICTUS i5\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [12]:
#evaluate the model
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.90      0.95      0.92        56
           1       0.86      0.75      0.80        24

    accuracy                           0.89        80
   macro avg       0.88      0.85      0.86        80
weighted avg       0.89      0.89      0.89        80